@model eCommerce.Models.Product

@{
    ViewBag.Title = "ByProduct";
}

<h2>Product Information</h2>
<div class="">
    <div>
        <img class="productimg" src="@Model.Images.First().ImageURL" />
    </div>
    <div class ="thumbnails">
        @foreach (var image in Model.Images)
        {
            <div class="thumbnails">
              <img  src="@image.ImageURL" /> 
            </div>
      
        }

            </div>
            <div class="cartform">
      @using (Html.BeginForm("Add","Cart", FormMethod.Post))
      {
    <select id="Quanity" name="Qty">

          @for (int i = 1; i <= 20; i++)
          {
              <option>@i</option> 
          
          }
              </select>
        <input type="submit" name="Save" />
   
        <div>
            <p>
                     <input type="submit" value="Add to Cart" />
            </p>
     </div>
          @Html.Hidden("ProductID", Model.ProductID)
          @Html.Hidden("UnitPrice", Model.UnitPrice)
                }
    </div>
    </div>

    
    
<fieldset>
    <legend>Product</legend>
    <div class=" infoset">
        
    <div class="display-label name">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
        <div
    <div class="display-label name">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label name">
         @Html.DisplayNameFor(model => model.ListPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListPrice)
    </div>
    
   
     <div class="display-label name">
         @Html.DisplayNameFor(model => model.UnitPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>

   
     <div class="display-label name">
         @Html.DisplayNameFor(model => model.Supplier)
    </div>
    <div class="display-field">
       @Model.Supplier.Name
    </div>

   
     <div class="display-label name">
         @Html.DisplayNameFor(model => model.InStock)
    </div> 
           
   
    
     <div class="display-field">
        @Html.DisplayFor(model => model.InStock)
    </div>

    
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
        @Model.Category.Name
    </div>
    </div>
    
   </fieldset>
   
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
